.item {
	padding: 14px 20px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: left;
	width: 100%;
	min-width: 800px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	transition: transform 0.2s;
	box-sizing: border-box;
}

.item:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.task-item-button {
	display: flex;
	justify-content: end;
}

.task-title {
	font-weight: 500;
	color: #2c3e50;
	flex: 1;
}

.task-completed {
	text-decoration: line-through;
	color: #7f8c8d;
	transition: all 0.3s ease;
}
